# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**/.pio/*
.pio/**

**/node_modules/**
**/.venv/*
**/.venv_firmware/*

# vim swp
**/**.swp

# build this yourself locally
tools/esptool-ck/esptool

# web build product
web/app/build

# compiled python products
**/**.pyc
**/**__pycache__**
